.vital {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vital-value {
    font-size: 3rem;
    margin-right: 0.75rem;
    align-self: baseline;

}

.vital-label {
    font-size: 1.5rem;
    color: #777676;
    align-self: baseline;
}